body {
  margin: 0;
  padding: 0;
  font-family: "Lobster", cursive;
  background-color: #000000;
  color: #f6f2f2;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 40%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0) 100%
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 50px,
      hsla(0, 0%, 50%, 0.557) 50px,
      #4545458b 51px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 50px,
      hsla(0, 0%, 50%, 0.557) 50px,
      #4545458b 51px
    );
  pointer-events: none;
  z-index: 0;
  opacity: 0.45;
}
