/* TinderCard.css */
.tinder-card {
  width: 300px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  margin: 0 auto;
  margin-bottom: 123px;
  margin-top: 19px;
  cursor: pointer;
}

.tinder-card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: linear-gradient(to bottom, #d8d815, #0b5833);
  backface-visibility: hidden;
  z-index: 1;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 0;
}

.card-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
}

.card-name {
  margin-bottom: 10px;
  color: #fff;
}

.card-songs {
  list-style-type: none;
  padding: 0;
}

.card-song {
  margin-bottom: 5px;
  color: #fff;
}

.tinder-card.flipped .card-front {
  z-index: 0;
}

.tinder-card.flipped .card-back {
  transform: rotateY(0deg);
  z-index: 1;
}

.card-front h2,
.card-back h2,
.card-songs li {
  transform: rotateY(0deg);
}

.tinder-card.flipped .card-back h2,
.tinder-card.flipped .card-back .card-songs li {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
}

.card-songs {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.card-song {
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

.card-song::before {
  content: "";
  margin-right: 8px;
}
